# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.class

#hibernate
hibernate.cfg.xml
.gitignore
.idea/inspectionProfiles/
src/REDACTEDMain.java
src/REDACTEDMenu.java
*.class
.idea/workspace.xml
